In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
data=pd.read_csv('Advertising.csv')
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [4]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)
data

X=data[['TV','Radio','Newspaper']]
y=data['Sales']
X = (X - X.mean()) / X.std()

In [5]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=100)

In [6]:
class GradientDescentLinearRegression:
    def __init__(self, learning_rate=0.01, iterations=1000):
        
        self.lr=learning_rate
        self.epochs=iterations
        
    def fit(self,X,y):
        self.intercept=0
        self.coef=np.ones(X.shape[1])
        self.m=X.shape[0]
        
        for i in range(self.epochs):
            y_hat=np.dot(X,self.coef)+ self.intercept
            
            intercept_slope= (1/self.m) * np.sum(y_hat-y)
            coef_slope= (1/self.m) * np.dot((y_hat-y),X)
            
            self.intercept= self.intercept - (self.lr * intercept_slope)
            self.coef=self.coef - (self.lr * coef_slope)
            
        print('intercept: ',self.intercept,' coefficients: ',self.coef)

    def predict(self,X):
        return np.dot(X,self.coef)+ self.intercept
    
    def R2(self,y,y_pred):
        error1=y-y_pred
        rss=sum(error1*error1)
        
        error2=y-y.mean()
        tss=sum(error2*error2)
        
        r2=1-(rss/tss)
        print('R2 Score: ', r2)

In [7]:
model=GradientDescentLinearRegression()

model.fit(X_train,y_train)

y_pred=model.predict(X_test)
y_pred

model.R2(y_test,y_pred)

intercept:  13.886043484504372  coefficients:  [3.89917084 2.81208551 0.10540172]
R2 Score:  0.9056737232402822